
<!-- <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"> -->

  <!-- <div class="app-main"> -->

    <div class="app-sidebar sidebar-shadow">

      <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
          <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Menu</li>
            <li class="mm-active">
              <a href="#">
                <i class="metismenu-icon pe-7s-rocket"></i>Masters
                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
              </a>
              <ul>
                <li>
                  <a routerLink="/master/titles" routerLinkActive="mm-active">
                    <i class="metismenu-icon"></i>Titles
                  </a>
                </li>

                <li>
                  <a routerLink="/master/states"  routerLinkActive="mm-active">
                    <i class="metismenu-icon"></i>States
                  </a>
                </li>

                <li>
                  <a routerLink="/master/gender"  routerLinkActive="mm-active">
                    <i class="metismenu-icon"></i>Genders
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <!-- </div> -->
<!-- </div> -->
